.publicity {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}

.publicity__section {
    width: 80vw;
    padding-top: 2rem;
    position: relative;
}

.publicity__section__controller {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 0;
    
}
.publicity__section__controller svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem ;
    cursor: pointer;
    fill: var(--color-grey);
    
}

.publicity__section__controller__edit {
    fill: var(--color-primary) !important;
}

.publicity__section__controller__delete {
    fill: var(--color-grey);
    
}

.publicity__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey);
    width: 100%;
}

.publicity__main__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 29rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;
   
    column-gap: 1rem;
    row-gap: 1rem;

    padding: 2rem 0;
    
    justify-content: center;
    align-items: center;
    margin: 1rem 0;  
}

.publicity__section__cta {
    display: none;
    justify-content: center;
}

.publicity__section__cta.show {
    display: flex;
}

.publicity__main__list__item__checkbox {
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 2rem;
    width: 2rem;
    z-index: 2;
    background: var(--color-white);
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

.publicity__main__list__item__checkbox svg {
    width: 70%;
    height: 70%;
    fill: green;
    display: none;
}

.publicity__main__list__item__checkbox.show {
    display: flex;
}


.publicity__main__list__item__checkbox.checked svg {
    display: block;
}


.publicity__newProducts {
    
}

.publicity__newProducts__title {
    text-transform: uppercase;
    padding-left: 2rem;
}