.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background: var(--color-dark);
    color: var(--color-white);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navtop button {
    margin-right: 3rem;
}

.navtop__logo {
    width: 20rem;
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtop__contact {
    display: flex;
    justify-content: center;
    width: 30%;
}

.navtop__contact__detail {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.navtop__contact__detail svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    margin-right: 1rem;
}



.navtop__socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.navtop__socialMedia svg {
    width: 2rem;
    height: 2rem;
    margin: 0 1.5rem;
    fill: var(--color-primary);
}