.navbar__list {
    height: calc(100vh - 5rem);
    width: 20rem;

   

    background: var(--color-dark);
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: fixed;
    top: 5rem;

    z-index: 20;

    transition: all .3s ease-in-out;
}

svg.navbar__list__toggle {
    width: 2.7rem;
    height: 2.7rem;
    position: absolute;
    bottom: 6rem;
    z-index: 1;
    cursor: pointer;
    padding: .3rem;
    background: var(--color-grey-light);
    transition: all .3s ease-in-out;
}

.navbar__list.small {
    width: 5rem;
}

.navbar__list.small svg.navbar__list__toggle {
    left: 6rem;
    transform: translateX(-5rem);
}




.navbar__list__item {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color-grey-light);
    height: 5rem;
    padding-left: 2rem;
    position: relative;
    opacity: 1;
    border-bottom: 1px solid var(--color-grey-light);
    transition: all .3s ease-in-out;
}

.navbar__list__item__notification {
    position: absolute;
    right: 2rem;
    background: red;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-white);
    transition: all .3s ease-in;
}

.navbar__list__item.hide  {
    padding-left: 1rem;
    justify-content: center;
}

.navbar__list__item.hide .navbar__list__item__notification {
    right: -.5rem;
    top: -1.4rem;
}

.navbar__list__item__text {
    display: block;
    transition: all .3s ease-in-out;
}


.navbar__list__item.hide .navbar__list__item__text {
    position: absolute;
    top: 1.9rem;
    left: -13rem;
    opacity: 0;
}




.navbar__list__item svg {
    width: 2rem;
    height: 3rem;
    margin-right: 1rem;
    fill: var(--color-grey-light);
}

.navbar__list a.active {
    background: var(--color-primary);   
    border: var(--color-primary);
}


.navbar__list a.active  .navbar__list__item__text {
    color: var(--color-white);
}
.navbar__list a.active svg {
    fill: var(--color-white);
}