.messagesContainer {
    width: 100%;
    height: calc(100vh - 5rem);
    background: green;

    display: flex;
   
    justify-content: space-between;
    flex-direction: column;

    position: relative;
}

.messagesContainer__body {
    width: 80%;
    max-width: 80%;
    height: calc(100vh - 12rem);
    background: white;
    padding: 2rem;
    padding-top: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.messagesContainer__body__displayDetailsButton {
    position: fixed;
    right: 25rem;
    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    border-radius: 4px;
    background: var(--color-white);
    color: var(--color-grey);
    border: 1px solid var(--color-grey);
    cursor: pointer;
    transition: all .3s ease-in;
}

.messagesContainer__body__displayDetailsButton.active {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white)
}

.messagesContainer__body__chat {
    display: inline-block;
    border-radius: 3px;
    background: grey;
    max-width: 60%;
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1.2rem;
    width: auto;
    margin-right: 2rem;
}

.messagesContainer__body__chat--user {
    background: grey;
    color: white;
}


.messagesContainer__body__chat--admin {
    background: var(--color-primary);
    color: var(--color-white);
}

.messagesContainer__body__chat__convoDate {
    text-align: center;
    font-size: 1.2rem;

}
.messagesContainer__body__chat__detail {
    display: flex;
    flex-direction: column;
    transform: translateY(-6px);
    color: var(--color-grey);
    
}



.messagesContainer__textarea {
    resize: none;
    width: 80%;
    min-height: 3rem;
    max-height: 6rem;
    padding: .5rem;      
    position: absolute;
    bottom: 4.5rem;
}

.messagesContainer__textarea:focus {
    outline: none;
}

.messagesContainer__cta {
    width: 80%;
    height: 5rem;
    background: yellow;
    display: block;
}