.messagesContainer {
    width: 100%;
    height: calc(100vh - 5rem);
    background: green;

    display: flex;
   
    justify-content: space-between;
    flex-direction: column;

    position: relative;
}

.messagesContainer__body {
    width: 80%;
    max-width: 80%;
    height: calc(100vh - 12rem);
    background: white;
    padding: 2rem;
    padding-top: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

    
}


.messagesContainer__body__chatContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column; 
}

.messagesContainer__body__chat {
    display: inline-block;
    border-radius: 1rem;
    background: grey;
    max-width: 60%;
    padding: .8rem 1.2rem;
    font-size: 1.4rem;
    width: auto;
    margin-right: 2rem;
}

.messagesContainer__body__chat.small-gap {
    margin-bottom: .1rem;
}

.messagesContainer__body__chat.big-gap {
    margin-bottom: 1rem;
}

.messagesContainer__body__chat--user {
    background: grey;
    color: white;
    align-self: flex-start;
}

.messagesContainer__body__chat--admin {
    background: var(--color-primary);
    color: var(--color-white);    
    align-self: flex-end;
}



.messagesContainer__body__chatContainer:hover .messagesContainer__body__chat--user + .messagesContainer__body__chat__detail {
    display: flex;
    margin-top: 1rem;
}

.messagesContainer__body__chatContainer:hover .messagesContainer__body__chat--admin + .messagesContainer__body__chat__detail {
    display: flex;
    margin: .3rem 0;
}

.messagesContainer__body__chat__convoDate {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.messagesContainer__body__chat__detail {
    display: none;
    flex-direction: column;
    transform: translateY(-6px);
    color: var(--color-grey);   
    transition: all .3s ease-in;
}

.messagesContainer__body__chat--admin + .messagesContainer__body__chat__detail {
    align-self: flex-end;
    transform: translateX(-2rem);
}

.messagesContainer__body__chat__detail.show {
    display: flex;
}



.messagesContainer__textarea {
    resize: none;
    width: 80%;
    min-height: 3rem;
    max-height: 6rem;
    padding: .5rem;      
    position: absolute;
    bottom: 4.5rem;
}

.messagesContainer__textarea:focus {
    outline: none;
}

.messagesContainer__cta {
    width: 80%;
    height: 5rem;
    background: yellow;
    display: block;
}