.auth {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:   linear-gradient(rgba(12, 12, 12, 0.616), rgba(12, 12, 12, 0.616)),
    url('../../assets/img/desert-suv.jpg');
    background-size: cover;
    background-position: center;
}

.auth__controller {
    display: flex;
    height: 4rem;
}

.auth__controller__button {
    cursor: pointer;
    width: 15rem;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: none;
}



.auth__container {
    /*overflow: hidden;*/
    width: 35%;
    height: 75%;
}
    
.auth__form {
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: relative;
    z-index: 21;
    /* border: 1px solid var(--color-grey);    */
}


.auth__form--login {
    height: 65%;
 

}

.auth__form--signup {
    height: 100%;
}




.auth__input__list {
    list-style: none;
    
}


.auth__input__list .input {
    margin: 1.5rem 0;
    height: 5rem;
    position: relative;
    background: transparent !important;
}

.auth__input__list .input__label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 14rem;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    color: var(--color-grey);
    transition: all .2s ease-in;
    font-size: 1.45rem;
    opacity: 0;
}


.auth__input__list input.input__field {
    height: 100%;
    width: 100%;
    padding-left: .5rem;
    border: none;
    background: transparent !important;
    color: var(--color-white)
    
}


.auth__input__list .input__field:focus {
    outline: none;  
}


.auth__input__list input::placeholder {
    color: var(--color-white)
}


.auth__input__list input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: translateY(-1.7rem);
    font-size: 1rem;
}

.auth__input__list .input__border {
    position: absolute;
    bottom: .5rem;
    width: 100%;
    height: 1px;
    background: var(--color-grey);
}


.auth__input__list input:-webkit-autofill,
.auth__input__list input:-webkit-autofill:hover, 
.auth__input__list input:-webkit-autofill:focus, 
.auth__input__list input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.auth__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}