.overview {
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.overview__list {
    margin-top: 2rem;
    list-style: none;
    align-self: center;
    width: 100%;
}

.overview__list__item {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
}



.overview__section {
    margin-bottom: 2rem;
}

.overview__title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.overview__title svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--color-primary);
    margin-right: 1rem;
}