.messagesUserInfos {
    width: 30rem;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-grey-light) ;
    padding-top: 1rem;
}

.messagesUserInfos__header {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.messagesUserInfos__header__name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.4rem;
    margin-right: 2rem;
}

.messagesUserInfos__header__status {
    padding: .6rem 2.5rem;
    border-radius: 5px;
    color: var(--color-white)
}

.messagesUserInfos__header__status.active {
    background-color: green;
}

.messagesUserInfos__header__status.away {
    background-color: red;
}

.messagesuserInfos__contact {
    width: 80%;
    
    border-radius: 5px;
    margin-bottom: 3rem;
}

.messagesUserInfo__contact__group {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: var(--color-white);
    margin: 1rem 0;
    height: 3.5rem;
    padding-left: 1.2rem;
    border-radius: 5px;
}

.messagesUserInfo__contact__group svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}

.messagesUserInfo__contact__group__value {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.messagesUserInfo__contact__group__value--value {
    position: absolute;
    padding-left: 1rem;
}

.messagesUserInfo__contact__group__value--input {
    position: absolute;
    width: 98%;
    height: 100%;
    padding-left: 1rem;
    display: none;
}

.messagesUserInfo__contact__group__value.edit .messagesUserInfo__contact__group__value--input{
    display: block;
}

.messagesUserInfo__contact__group__value--input:focus {
    outline: none
}

.messagesUserInfos__notes {
    width: 80%;
}

.messagesUserInfos__notes__title {
    background-color: var(--color-grey-dark);
    padding: 1.4rem 0;
    padding-left: 1rem;
    border-radius: 5px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.messagesUserInfos__notes__title__icon {
    background: var(--color-white);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    margin-right: 3rem;
}
.messagesUserInfos__notes__title svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    cursor: pointer;
}


.messagesUserInfos__notes__form {
    background: var(--color-grey-dark);
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.messagesUserInfos__notes__form__title {
    margin-bottom: 1rem;
    margin-top: .5rem;
    padding-left: .5rem;
    font-size: 1.3rem;
    color: var(--color-white);
}

.messagesUserInfos__notes__form__input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    padding-left: .5rem;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 5px;
    border: none;
}

.messagesUserInfos__notes__form__input:focus {
    outline: none
}

.messagesUserInfos__notes__form__textarea {
    width: 100%;
    padding: .5rem;
    resize: vertical;
    min-height: 10rem;
    max-height: 25rem;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 5px;
}

.messagesUserInfos__notes__form__textarea:focus {
    outline: none;
}

.messagesUserInfos__notes__form__cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesUserInfos__notes__list {
    list-style: none;
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

.messagesUserInfos__notes__list::-webkit-scrollbar {
    display: none;
}




.messagesUserInfos__notes__list__item {
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.2rem;
    
}

.messagesUserInfos__notes__list__item__title {
    cursor: pointer;
    background:  var(--color-white);
    padding: 1rem 0;
    padding-left: 1rem;
    position: relative;
}

.messagesUserInfos__notes__list__item.show .messagesUserInfos__notes__list__item__title {
    background:  var(--color-primary);
    color: var(--color-white)
}

.messagesUserInfos__notes__list__item__title__cta {
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.messagesUserInfos__notes__list__item.show .messagesUserInfos__notes__list__item__title__cta {
    display: flex;
}
.messagesUserInfos__notes__list__item__title svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .7rem;
    fill: var(--color-grey-dark);
    cursor: pointer;
}

.messagesUserInfos__notes__list__item.show .messagesUserInfos__notes__list__item__title svg {
    fill: var(--color-white)
}

.messagesUserInfos__notes__list__item__text {
    display: none;
    padding: 1rem 0;
    padding-left: .5rem;
    background-color: var(--color-white);
}

.messagesUserInfos__notes__list__item.show .messagesUserInfos__notes__list__item__text {
    display: block;
}


