.messages {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 25rem 1fr 30rem;
}


.messages__navbar {
    grid-column: 1 / 2;
    height: calc(100vh - 5rem);
    max-height: calc(100vh - 5rem);
    background: var(--color-grey-light);
}

.messages__container { 
    grid-column: 2 / 4;
    height: calc(100vh - 5rem);
    max-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
}

.messages__container.full {
    grid-column: 2 / 4;
    grid-column: 2 / 3;
}

.messages__userInfos {
    grid-column: 3 / 4;
    height: calc(100vh - 5rem);
    max-height: calc(100vh - 5rem);
    transition: all .3s ease-in;
    width: 0;
    display: none;
}

.messages__userInfos.show {
    display: block;
    width: 40rem;
}
