.stats__userConnection__container {
    display: flex;
    align-self: center;
    width: 80vw;
}

.stats__userConnection__chartContainer {
    position: relative;
    width: 70rem;
}

.stats__userConnection__filter {
    width: 25rem;
    margin-right: 6rem;
    border-radius: 5px;
}

.stats__userConnection__filter__title {
    background: var(--color-grey-dark);
    padding: 1rem 0;
    padding-left: 1rem;
    color: var(--color-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.stats__userConnection__filter__list {
    list-style: none;
    height: auto;
    
}

.stats__userConnection__filter__list__item {
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-grey);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease-in;
}

.stats__userConnection__filter__list__item.active {
    background: var(--color-primary);
    color: var(--color-white)
}

.stats__userConnection__filter__byMonthList {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    display: none;
    background: var(--color-grey-light);
    color: black
}

.stats__userConnection__filter__byMonthList.shown {
    display: block;
}

.stats__userConnection__filter__byMonthList__item {
    padding: .5rem 0;
    padding-left: .5rem;
}

.stats__userConnection__filter__byMonthList__item.active {
    background: var(--color-grey);
}





.stats__userConnection__filter__list__item__key {
  
}

.stats__userConnection__filter__list__item__value {  
    
}