:root {
  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #d85803;


  --color-dark: #1a1a1a;
  --color-dark-light: #313131;



  --color-secondary: #04776e;

  --color-grey: #c5c5c5;
  --color-grey-dark: #afafaf;
  --color-grey-light: #ECE8E3;


  --font-size-xs: 1rem;
  --font-size-md: 1.2rem;
  --font-size-xl: 1.4rem;
  
  
  
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}


body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-xs);
}

.app {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr;
  transition: all .3s ease-in-out;
  height: 100vh;
}

.app.full-app {
  grid-template-columns: 5rem 1fr
}





.app__secondary__title {

}

.fullScreen {
  width: 100vw;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  position: relative;

}

body.hideScrollBar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
