.inventory {
    grid-column: 1 / -1;
    grid-row: 3 - 4;
    height: 100vh;
}

.inventory__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 30rem);
    grid-auto-rows: 30rem;
   
    column-gap: 1rem;
    row-gap: 3rem;
    padding: 2rem 0;


    justify-content: center;
    align-items: center;
}

