.users {
    grid-column: 2 / 3;
    grid-row: 2 / 3;  
    display: flex;
    align-items: center;
    flex-direction: column;
}


.users__search {
    width: 100%;
    padding: 2rem;
    position: relative;
    background: var(--color-grey-light);
    display: flex;
    align-items: center;
}

.users__search__inputContainer {
    position: relative;
    width: 28rem;
    margin-right: 3rem;
}

.users__search svg {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.users__search__inputContainer .lds-ring{
    width: 1rem !important;
    height: 1rem !important;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-1rem, -1rem);
}
 
.users__search__input {
    height: 4rem;
    padding-left: 1rem;
    width: 28rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}

.users__search__input:focus {
    outline: none;
}
.users__search__input::-webkit-input-placeholder  {
    color: var(--color-grey)
}

.users__search__results {
    position: absolute;
    top: 8rem;
    background: var(--color-white);
    z-index: 2;
    width: 28rem;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 1px 7px 1px rgba(128,125,128,1);
}

.users__search__results__item {
    display: flex;
    align-items: center;
    padding: 1rem;  
    cursor: pointer;
}

.users__search__results__item:hover {
    background: rgb(247, 245, 245);
}
.users__search__results__item:not(:last-child){
    border-bottom: 1px solid rgb(214, 214, 214);;
}



.users__search__results__item__avatar {
    text-transform: uppercase;
    background: red;
    padding: 1rem;
    border-radius: 50%;
    font-weight: 600;
    margin-right: 1.5rem;
    color: var(--color-white)
}

.users__search__results__item__name {
    text-transform: capitalize;
    font-size: var(--font-size-md);
    font-weight: 600;
}

.users__search__results__item.users__search__results__item--noResult {
    font-size: var(--font-size-xl);
    font-weight: 600;
}


.users__table {
    width: 90%;
    margin-top: 3rem;
}

.users__table, .users__table th, .users__table td {
    border: 1px solid rgb(233, 232, 232);
    border-collapse: collapse;  
   
}



.users__table th {
    padding: 1.7rem;
    background: rgb(248, 245, 245);
    text-align: center;
}

.users__table__data td {
    text-align: left;
    padding: 2rem;
    font-size: var(--font-size-xs);
 
}




.users__table__data__avatar {
  position: relative;
  width: 7rem;
}

.users__table__data__avatar div {
    background: rgb(224, 10, 10);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-white);
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   
}

.users__table__data__name {
    font-weight: 600;
    color: rgba(42, 42, 187, 0.856);
    text-transform: capitalize;
}

.users__table__data__info div {
    background: rgb(231, 230, 230);
    display: inline-block;
    padding: .7rem;
    border-radius: 4px;
}

.users__table__data__status {   
    position: relative;
    
}

.users__table__data__status__icon {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--color-white);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 6rem;
    height: 2.5rem;
}

.users__table__data__status__icon.active {
    background:  rgb(48, 197, 48);
}
.users__table svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.users__table__data__icon {
    position: relative;
}

.users__table__data__icon svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.users__table__data__icon--message {
    fill: var(--color-primary)
}

