.suppliers {
    grid-column: 2 / 3;
    grid-row: 2 / 3;  
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.suppliers__title {
    width: 80vw;
    position: relative;
}

.suppliers__addButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    font-size: var(--font-size-md);
    border-radius: 5px;
    cursor: pointer;
    text-transform: lowercase;
    color: var(--color-white);
    
}
.suppliers__list {
    width: 80vw;
    margin-bottom: 2rem;
    list-style: none; 
}

.suppliers__list__item {
    margin-bottom: 3rem;
    /* border: 1px solid var(--color-grey); */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.suppliers__list__item__header {
    background: var(--color-grey-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: var(--color-white);
}

.suppliers__list__item__header__cta {
    display: flex;
    
}

.suppliers__list__item__header__cta__btn {
    padding: .7rem 0;
    background: yellow;
    width: 7rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}


.suppliers__list__item > * {
    padding-left: .5rem;
}

.suppliers__list__item__info {
    margin: .5rem 0;
}


.suppliers__list__item__nav {
    background: var(--color-dark);
    display: flex;
    margin-top: 1rem;
    height: 3rem;
    padding-left: 0rem;
}

.suppliers__list__item__nav__item {
    height: 100%;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    cursor: pointer;
}

.suppliers__list__item__nav__item.active {
    background: var(--color-primary);
}

.suppliers__list__item__responsiblesTable {
    width: 100%;
}
.suppliers__list__item__responsiblesTable,
.suppliers__list__item__responsiblesTable th,
.suppliers__list__item__responsiblesTable td {
    border: 1px solid rgb(233, 232, 232);
    border-collapse: collapse;  
}


.suppliers__list__item__responsiblesTable thead tr {
    /* border-bottom: 1px solid var(--color-grey) !important; */
    /* background: red; */
}

.suppliers__list__item__responsiblesTable thead th,
.suppliers__list__item__responsiblesTable__row__data {
    padding: 1rem 0;
    padding-left: .5rem;
}

.suppliers__form {
    width: 80vw;
}

.suppliers__form__cta {
    width: 80vw;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.suppliers__form__add-responsible {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.suppliers__form__add-responsible__title {
    text-transform: uppercase;
    margin-right: 4rem;
}

.suppliers__form__add-responsible__cta {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    cursor: pointer;
}

.suppliers__form__responsible {
    width: 63%;
    margin-bottom: 3rem; 
    
}
.suppliers__form__responsible__rank {
    text-transform: uppercase;
    background: rgb(240, 240, 240);
    padding: 1rem 0;
    padding-left: .5rem;
}


.suppliers__form__responsible__input {
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding-left: .5rem;
}

.suppliers__form__responsible__input label {
    width: 14rem;
    font-weight: 600;
    order: -1;
}

.suppliers__form__responsible__input input, .suppliers__form__responsible__input select {
    height: 80%;
    width: 50%;
    padding-left: .5rem;
    border: none;
    border-bottom: 1px solid var(--color-grey); 
}

.suppliers__form__responsible__input input:focus, .suppliers__form__responsible__input select:focus {
    outline: none;
    border-bottom: 2px solid var(--color-primary)
}


.suppliers__form__responsible__input input::placeholder, .suppliers__form__responsible__input select::placeholder {
    color: var(--color-grey);
}

.suppliers__form__responsible__input input:not(:placeholder-shown), .suppliers__form__responsible__input select:not(:placeholder-shown){
    background: rgb(232, 240, 254);
}

.suppliers__form__responsible__input select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
}